/* Mobile */
.products {
	margin-top: 11dvh;
	padding: 0dvh 1dvh 5rem 1dvh;
	text-align: center;
}

.products h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 400;
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 0.8rem;
	margin: 2rem 1dvh 2rem 1dvh;
}

.card {
	background: var(--color-fondo);
	padding: 0rem;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	min-height: 310px;
	position: relative;
}

.card:hover {
	background-color: #f4dac7;
}

.card img {
	width: 150px;
	height: auto;
	max-height: 200px;
	object-fit: fill;
	padding-top: 5px;
}

.card h3 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	width: 100%;
	position: absolute;
	bottom: 50px;
}

.card p {
	font-weight: 500;
	font-size: 18px;
	width: 100%;
	position: absolute;
	bottom: 26px;
}

.cardButton {
	text-decoration: none;
	border: none;
	border-radius: 6px;
	background-color: var(--color-letrasTerciario);
	color: var(--color-fondo);
	font-size: 1rem;
	padding: 3px;
	margin: 0px auto 0px auto;
	width: 90%;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

/* NUEVO Desktop */
@media (min-width: 769px) {
	.products {
		margin-top: 8dvh;
		padding-top: 1rem;
	}

	.cardsContainer {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2rem;
		margin: 2rem 20dvh 2rem 20dvh;
	}

	.card {
		width: 100%;
		min-height: 360px;
		padding: 0rem;
	}

	.card img {
		width: 200px;
		max-height: 250px;
		border-radius: 6px;
		padding-top: 10px;
	}

	.cardButton {
		background-color: var(--color-fondo);
		color: var(--color-letrasTerciario);
		font-size: 1.3rem;
		width: 60%;
	}

	.cardButton:hover {
		background-color: var(--color-letrasTerciario);
		color: var(--color-fondo);
		border-radius: 6px;
	}
}
