/* Desktop */

.products {
	margin-top: 8dvh;
	padding-top: 1rem;
	/* background-color: aquamarine; */
}

.products h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 400;
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	margin: 2rem 35dvh 2rem 35dvh;
}

.card {
	width: 100%;
	height: 380px;
	background: var(--color-fondo);
	padding: 1rem;
	text-align: center;
	border-radius: 6px;
}

.card:hover {
	border: 2px solid var(--color-letrasTerciario);
	background-color: #f4dac7;
	/* background-color: #e4b897; */
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 6px;
}

.card h3 {
	text-transform: uppercase;
	font-weight: 200;
}

.cardButton {
	text-decoration: none;
	border: none;
	background-color: #c3b4a9;
	color: var(--color-fondo);
	border-radius: 6px;
	font-size: 1.5rem;
	margin: 0px auto 0px auto;
}

.cardButton:hover {
	background-color: var(--color-letrasTerciario);
	color: var(--color-fondo);
	border-radius: 6px;
}

/* Mobile */
@media (max-width: 800px) {
	.products {
		padding: 0dvh 1dvh 5rem 1dvh;
		text-align: center;
	}

	.cardsContainer {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		gap: 0.8rem;
		margin: 2rem 1dvh 2rem 1dvh;
	}

	.card {
		background: var(--color-fondo);
		padding: 0rem;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		max-height: 330px;
		position: relative;
	}

	.card img {
		width: 150px;
		height: auto;
		max-height: 200px;
		object-fit: fill;
		padding-top: 5px;
	}

	.card h3 {
		font-weight: 400;
		font-size: 20px;
		width: 100%;
		position: absolute;
		bottom: 55px;
	}

	.card p {
		font-weight: 400;
		font-size: 20px;
		width: 100%;
		position: absolute;
		bottom: 30px;
	}

	.cardButton {
		background-color: #000000;
		color: #fff;
		font-size: 1rem;
		padding: 3px;
		width: 90%;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
}
