:root {
	--color-fondo: #ffffff;
	--color-fondoSecundario: #faf8f8;
	--color-letrasPrimario: #111;
	--color-letrasSecundario: #656262;
	--color-iconHover: #cfcd65;
	--color-letrasTerciario: #a27451;
}

.products h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: 400;
	margin-top: 4rem;
	/* background-color: blue; */
}

.products {
	padding-top: 140px;
	/* background-color: aqua; */
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	/* gap: 1.5rem; */
	margin: 2rem 1rem 2rem 1rem;
	/* background-color: chocolate; */
}

.card {
	width: 100%;
	height: 380px;
	background: var(--color-fondo);
	padding: 1rem;
	text-align: center;
	/* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
	/* border-radius: 8px; */
}

.card:hover {
	border: 2px solid var(--color-letrasTerciario);
	/* background-color: #e4b897; */
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	overflow: hidden;
}

.card h3 {
	text-transform: uppercase;
	font-weight: 200;
}

.card h3:hover {
	text-decoration: underline;
}

.cardButton {
	text-decoration: none;
	border: none;
	background-color: #c3b4a9;
	color: var(--color-fondo);
	border-radius: 6px;
	font-size: 1.5rem;
	margin: 0px auto 0px auto;
}

.cardButton:hover {
	background-color: var(--color-letrasTerciario);
	color: var(--color-fondo);
	border-radius: 6px;
}

@media (max-width: 768px) {
	.products {
		padding: 140px 10% 5rem 10%;
		text-align: center;
	}

	.cardsContainer {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1.5rem;
		margin-top: 2rem;
	}

	.card {
		background: var(--color-fondo);
		padding: 1.5rem;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
	}
}
