.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.image {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
	transition: opacity 0.3s ease-in-out;
}

.btn {
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: #555;
	transition: color 0.3s ease;
}

.btn:hover {
	color: black;
}
