/* Desktop */
@media (min-width: 769px) {
	.carouselContainer {
		width: 100%;
		max-width: 1200px;
		margin: 20dvh auto 0px auto;
		padding-top: 20px;
		overflow: hidden;
		position: relative;
		border-radius: 6px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
		scroll-margin-top: 11dvh;
	}

	.trackWrapper {
		width: 100%;
		overflow: hidden;
	}

	.carouselTrack {
		display: flex;
		transition: transform 0.4s ease;
		border-radius: 20px;
	}

	.carouselImage {
		width: 100%;
		height: 80dvh;
		aspect-ratio: 4/4;
		object-fit: contain;
		display: block;
		flex-shrink: 0;
		border-radius: 50px;
		z-index: 20;
	}

	.arrow {
		touch-action: manipulation;
		-webkit-tap-highlight-color: transparent;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
		cursor: pointer;
		z-index: 10;
		opacity: 0.6;
	}

	.arrow:hover {
		opacity: 0.9;
	}

	.arrowLeft {
		left: 50px;
	}

	.arrowRight {
		right: 50px;
	}

	.carouselDots {
		width: 50%;
		height: 30px;
		position: relative;
		justify-self: center;
		display: flex;
		gap: 8px;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
	}

	.carouselDot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	.active {
		background: #333;
	}
}

/* Mobile */
@media (max-width: 768px) {
	.carouselContainer {
		touch-action: pan-y;
		scroll-margin-top: 20dvh;
		justify-self: center;
	}

	.carouselImage {
		object-position: center;
		aspect-ratio: 4/5;
	}

	ยก .arrowLeft {
		left: 10px;
	}

	.arrowRight {
		right: 10px;
	}

	.carouselDots {
		margin-top: 10px;
	}

	.carouselDot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}
}
