/* Desktop */
@media (min-width: 769px) {
	.carouselContainer {
		width: 80%;
		max-width: 1200px;
		margin: 30px auto;
		justify-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		overflow: hidden;
		scroll-margin-top: 6rem;
		/* gap: 20px; */
		/* padding-bottom: 30px; espacio para dots */
	}

	.trackWrapper {
		width: 100%;
		overflow: hidden;
	}

	.carouselTrack {
		display: flex;
		transition: transform 0.4s ease;
		border-radius: 20px;
	}

	.carouselImage {
		width: 100%;
		height: 70dvh;
		flex-shrink: 0;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.arrow {
		touch-action: manipulation;
		-webkit-tap-highlight-color: transparent;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
		cursor: pointer;
		z-index: 10;
		opacity: 0.6;
	}

	.arrow:hover {
		opacity: 0.9;
	}

	.arrowLeft {
		left: 50px;
	}

	.arrowRight {
		right: 50px;
	}

	.carouselDots {
		width: 100px;
		height: 20px;
		margin-top: -40px;
		display: flex;
		gap: 8px;
		justify-content: center;
		align-items: center;
		z-index: 20;
		background-color: #ded8d88a;
		border-radius: 8px;
	}

	.carouselDot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #bbb;
	}

	.active {
		background: #333;
	}
}

/* Mobile */
@media (max-width: 768px) {
	.carouselContainer {
		position: relative;
		overflow: hidden;
		width: 100%;
		touch-action: pan-y;
		scroll-margin-top: 5.5rem;
	}

	.carouselTrack {
		display: flex;
		transition: transform 0.4s ease;
	}

	.carouselImage {
		width: 100%;
		flex-shrink: 0;
		object-fit: cover;
		object-position: center;
	}

	.arrow {
		touch-action: manipulation;
		-webkit-tap-highlight-color: transparent;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
		cursor: pointer;
		z-index: 10;
		opacity: 0.5;
	}

	.arrow:hover {
		opacity: 0.9;
	}

	.arrowLeft {
		left: 10px;
	}

	.arrowRight {
		right: 10px;
	}

	.carouselDots {
		display: flex;
		gap: 8px;
		justify-content: center;
		margin-top: 10px;
	}

	.carouselDot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #bbb;
	}

	.active {
		background: #333;
	}
}
