:root {
	--color-fondo: #111;
	--color-letrasPrimario: #fff;
	--color-letrasSecundario: #a39e9e;
	--color-iconHover: #cfcd65;
}

@media (max-width: 768px) {
	.footer {
		border-top: 10px solid var(--color-letrasSecundario);
		position: absolute;
		bottom: 0;
		padding: 1.5rem 1.5rem;
		background-color: var(--color-fondo);
		color: var(--color-letrasPrimario);
		width: 100%;
		height: 11rem;
	}

	.ralewayTextFooter {
		font-family: "Raleway", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}

	/* Logo */
	.navLogo {
		font-size: 20px;
		height: 3rem;
		text-align: center;
		/* background-color: #4d4c21; */
	}

	.ralewayTextLogo {
		font-family: "Raleway", sans-serif;
		font-optical-sizing: auto;
		font-weight: 600;
		font-style: normal;
	}

	.followUsDiv {
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-self: center;
		/* background-color: aquamarine; */
	}

	.socialIcono {
		font-size: 25px;
		height: 1.3em;
		width: 1.3em;
		margin: 0px 12px;
		color: var(--color-letrasSecundario);
		transition: opacity 0.3s ease-in-out;
	}

	.socialIcono:hover {
		color: var(--color-iconHover);
	}

	.copyright {
		color: var(--color-letrasSecundario);
		height: 2.5rem;
		font-size: 12px;
		text-align: center;
		padding: 5px;
		/* background-color: blue; */
	}

	.copyright a {
		color: var(--color-letrasSecundario);
		text-decoration: none;
	}
}
