:root {
	--color-fondo: #111;
	--color-letrasPrimario: #fff;
	--color-letrasSecundario: #a39e9e;
	--color-iconHover: #cfcd65;
}
@media (min-width: 769px) {
	/* Desktop */
	.footer {
		width: 100%;
		height: 20rem;
		padding: 3rem 10rem;
		margin-top: auto;
		border-top: 15px solid var(--color-letrasSecundario);
		background-color: var(--color-fondo);
		color: var(--color-letrasPrimario);
		z-index: 50;
	}

	.ralewayTextFooter {
		font-weight: 400;
	}

	/* Logo */
	.navLogo {
		font-size: 45px;
		height: auto;
		/* background-color: aquamarine; */
	}

	.ralewayTextLogo {
		font-weight: 600;
	}

	.followUsDiv {
		width: 100%;
		height: auto;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-self: center;
		margin-top: 20px;
		/* background-color: #286eaa; */
	}

	.socialIcono {
		font-size: 25px;
		height: 1.3em;
		width: 1.3em;
		margin: 0px 12px;
		color: var(--color-letrasSecundario);
		transition: opacity 0.3s ease-in-out;
	}

	.socialIcono:hover {
		color: var(--color-iconHover);
	}

	.copyright {
		color: var(--color-letrasSecundario);
		height: auto;
		width: 100%;
		font-size: 12px;
		text-align: center;
		margin-top: 80px;
		/* background-color: #2a571d; */
	}

	.copyright a {
		color: var(--color-letrasSecundario);
		text-decoration: none;
	}

	.copyright a:hover {
		color: var(--color-letrasPrimario);
	}
}

/* Mobile */
@media (max-width: 768px) {
	.footer {
		width: 100%;
		height: 15rem;
		padding: 2rem 1.3rem;
		margin-top: auto;
		border-top: 10px solid var(--color-letrasSecundario);
		background-color: var(--color-fondo);
		color: var(--color-letrasPrimario);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 5;
	}

	.ralewayTextFooter {
		font-weight: 400;
	}

	/* Logo */
	.ralewayTextLogo {
		text-align: center;
		font-weight: 600;
		font-size: 25px;
	}

	.followUsDiv {
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.socialIcono {
		font-size: 25px;
		height: 1.3em;
		width: 1.3em;
		margin: 0px 12px;
		color: var(--color-letrasSecundario);
		transition: opacity 0.3s ease-in-out;
	}

	.socialIcono:hover {
		color: var(--color-iconHover);
	}

	.copyright {
		color: var(--color-letrasSecundario);
		height: 2.5rem;
		font-size: 12px;
		text-align: center;
		padding: 5px;
	}

	.copyright a {
		color: var(--color-letrasSecundario);
		text-decoration: none;
	}

	.copyright a:hover {
		color: var(--color-letrasPrimario);
	}
}
