:root {
	--color-fondo: #ffffff;
	--color-fondoSecundario: #faf8f8;
	--color-letrasPrimario: #111;
	--color-letrasSecundario: #656262;
	--color-iconHover: #cfcd65;
	--color-letrasTerciario: #a27451;
}

/* ---------- MOBILE ---------- */

.hero {
	flex-direction: column;
	justify-content: space-between;
	padding: 13dvh 2dvh 20dvh 2dvh;
	gap: 5rem;
	min-height: 100dvh;
}

.heroImageContainer {
	display: flex;
	max-height: 50dvh;
	justify-content: center;
}

.heroImageB {
	border-radius: 6px;
	width: 100%;
	flex-shrink: 0;
	flex: 0 0 auto;
	object-fit: cover;
	object-position: center;
	aspect-ratio: 4/4;
}

.title {
	color: var(--color-letrasPrimario);
	text-transform: uppercase;
	font-size: 25px;
	line-height: 1.1;
	text-align: left;
	font-weight: 500;
	background-color: #a09e9e30;
	border-radius: 6px;
	padding: 20px;
	letter-spacing: 0.5px;
}

.subtitle {
	color: var(--color-letrasSecundario);
	font-size: 1.2rem;
	line-height: 1.5;
	text-align: left;
	margin: 2dvh auto 2dvh auto;
}

.buttonRow {
	display: flex;
	min-width: 100%;
	gap: 1rem;
	margin: auto;
	justify-content: center;
}

.btnPrimary {
	background-color: #8a1818;
	color: #fff;
	border: 1px solid #fff;
}

.btnSecondary {
	color: var(--color-letrasSecundario);
}

.btnPrimary,
.btnSecondary {
	border: 2px solid var(--color-letrasSecundario);
	padding: 0.9rem 1.8rem;
	border-radius: 30px;
	text-decoration: none;
	font-weight: 600;
	transition: 0.3s ease;
}

.btnPrimary:hover,
.btnSecondary:hover {
	background-color: var(--color-letrasSecundario);
	color: var(--color-fondo);
	font-style: bold;
}

/* Desktop */
@media (min-width: 769px) {
	.hero {
		flex-direction: row;
		justify-content: center;
		padding: 5rem 2dvh 20dvh 2dvh;
		gap: 2rem;
		height: 100dvh;
		display: flex;
		align-items: center;
		align-content: center;
		text-align: center;
	}

	.heroContent {
		flex: 1;
		min-height: 100dvh;
		min-width: 60dvh;
	}

	.title {
		font-size: 2.5rem;
		margin: auto;
		margin-top: 250px;
		text-align: center;
		width: 80%;
	}

	.subtitle {
		font-size: 1.2rem;
		padding: auto;
		margin-top: 3rem;
		margin-bottom: 3rem;
		text-align: left;
		width: 80%;
		justify-self: center;
	}

	.buttonRow {
		display: flex;
		gap: 2rem;
		justify-content: center;
		padding: auto;
	}

	.btnPrimary {
		background-color: var(--color-letrasTerciario);
	}

	.btnSecondary {
		color: var(--color-letrasSecundario);
	}

	.btnPrimary,
	.btnSecondary {
		padding: 0.9rem 1.8rem;
		border-radius: 30px;
		text-decoration: none;
		font-weight: 600;
		transition: 0.3s ease;
	}

	.btnPrimary:hover,
	.btnSecondary:hover {
		background-color: var(--color-letrasSecundario);
		color: var(--color-fondo);
		font-style: bold;
	}

	.heroImageContainer {
		min-height: 90dvh;
		margin: auto 1rem;
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		align-items: center;
		justify-items: center;

		overflow: hidden;
		/* outline: 3px solid red; */
	}

	.heroImageA,
	.heroImageB {
		width: 100%;
		height: auto;
		min-height: 50dvh;
		object-fit: cover;
		border-radius: 6px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
		padding: auto 1rem;
		overflow: hidden;
	}
}
