:root {
	--color-fondo: #ffffff;
	--color-fondoSecundario: #faf8f8;
	--color-letrasPrimario: #111;
	--color-letrasSecundario: #656262;
	--color-iconHover: #cfcd65;
	--color-letrasTerciario: #a27451;
}

/* ---------- MOBILE ---------- */

.hero {
	flex-direction: column;
	justify-content: space-between;
	padding: 7rem 1dvh 20dvh 1dvh;
	gap: 5rem;
	min-height: 50dvh;
}

.heroImageContainer {
	display: flex;
	max-height: 45dvh;
}

.heroImageA {
	object-fit: cover;
	object-position: center;
	width: 100%;
	max-width: 100%;
	max-height: 50dvh;
}

.title {
	color: var(--color-letrasSecundario);
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.1;
	text-align: center;
}

.subtitle {
	color: var(--color-letrasSecundario);
	font-size: 1rem;
	line-height: 1.5;
	text-align: center;
}

.buttonRow {
	display: flex;
	min-width: 100%;
	gap: 1rem;
	margin: auto;
	justify-content: center;
}

.btnPrimary {
	background-color: #8a1818;
	color: #fff;
}

.btnSecondary {
	color: var(--color-letrasSecundario);
}

.btnPrimary,
.btnSecondary {
	border: 2px solid var(--color-letrasSecundario);
	padding: 0.9rem 1.8rem;
	border-radius: 30px;
	text-decoration: none;
	font-weight: 600;
	transition: 0.3s ease;
}

.btnPrimary:hover,
.btnSecondary:hover {
	background-color: var(--color-letrasSecundario);
	color: var(--color-fondo);
	font-style: bold;
}

/* Desktop */
@media (min-width: 769px) {
	.hero {
		height: 100dvh;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		align-content: center;
		padding: 5rem 2dvh 20dvh 2dvh;
		text-align: center;
		gap: 2rem;
	}

	.heroContent {
		flex: 1;
		max-width: 700px;
		min-width: 50%;
		min-height: 85dvh;
		margin: auto 20px auto auto;
		align-self: center;
	}

	.title {
		font-size: 2.5rem;
		margin: auto;
		margin-top: 250px;
	}

	.subtitle {
		font-size: 1.2rem;
		padding: auto;
		margin-top: 2.5rem;
	}

	.buttonRow {
		margin-top: 5rem;
		min-width: 100%;
		position: static;
	}

	.heroImageContainer {
		min-height: 90dvh;
		margin: auto 1rem;
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		align-items: center;
		justify-items: center;

		overflow: hidden;
		/* outline: 3px solid red; */
	}

	.heroImageA,
	.heroImageB {
		width: 100%;
		height: auto;
		min-height: 50dvh;
		object-fit: cover;
		border-radius: 6px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
		padding: auto 1rem;
		overflow: hidden;
	}
}
