/* --- NAVBAR GENERAL --- */
:root {
	--color-fondo: #ffffff;
	--color-fondoSecundario: #faf8f8;
	--color-letrasPrimario: #111;
	--color-letrasSecundario: #656262;
	--color-iconHover: #cfcd65;
	--color-letrasTerciario: #a27451;
}

.navbar {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem 6rem;
	max-height: 4rem;
	background-color: var(--color-fondo);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

/* Logo */
.aLogo {
	text-decoration: none;
	color: var(--color-letrasPrimario);
}

.containerLogo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	max-height: 4rem;
}

.imgLogo {
	border-radius: 18px;
	max-height: 2.5rem;
}

.ralewayTextLogo {
	font-size: 2rem;
	font-weight: 600;
	height: 100%;
}

/* Links desktop */
.navLinks {
	display: flex;
	gap: 1.5rem;
	list-style: none;
}

.navLinks a {
	color: var(--color-letrasPrimario);
	text-decoration: none;
	font-size: 1rem;
}

.navLinks a:hover {
	text-decoration: underline;
	color: var(--color-letrasTerciario);
}

.navToggle {
	display: none;
}

/* --- MOBILE --- */
@media (max-width: 900px) {
	.navbar {
		padding: 2.5rem 2rem;
	}

	.containerLogo {
		gap: 10px;
	}

	/* Toggle (hamburguesa) */
	.navToggle {
		display: block;
		font-size: 1.5rem;
		cursor: pointer;
		border: none;
		color: var(--color-letrasPrimario);
		background-color: var(--color-fondo);
	}

	.navLinks {
		position: absolute;
		top: 70px;
		z-index: 999;
		right: 0;
		flex-direction: column;
		color: var(--color-letrasPrimario);
		font-weight: 500;
		background: linear-gradient(to bottom, #ffffff 0%, #f5f1e8 100%);
		width: 100%;
		padding: 1rem 0;
		padding-left: 15px;
		gap: 1rem;
		display: none; /* oculto por defecto */
	}

	.navLinks.open {
		display: flex; /* cuando está abierto */
	}

	.ralewayTextLogo {
		font-size: 1.3rem;
		font-weight: 600;
	}
}
