/* --- NAVBAR GENERAL --- */
:root {
	--color-fondo: #111;
	--color-letrasPrimario: #fff;
	--color-letrasSecundario: #a39e9e;
	--color-iconHover: #cfcd65;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 6rem;
	color: var(--color-letrasPrimario);
	background-color: var(--color-fondo);
	z-index: 1000;
}

/* Logo */
.navLogo {
	font-size: 2rem;
	font-weight: bold;
}

.ralewayTextLogo {
	font-weight: 600;
}

/* Links desktop */
.navLinks {
	display: flex;
	gap: 1.5rem;
	list-style: none;
}

.navLinks a {
	color: var(--color-letrasPrimario);
	text-decoration: none;
	font-size: 1rem;
}

.navLinks a:hover {
	text-decoration: underline;
}

/* Toggle (hamburguesa) para MOBILE */
.navToggle {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

/* --- MOBILE --- */
@media (max-width: 768px) {
	.navbar {
		padding: 1rem 2rem;
	}

	.navToggle {
		display: block;
	}

	.navLinks {
		position: absolute;
		top: 70px;
		z-index: 999;
		right: 0;
		flex-direction: column;
		background-color: var(--color-fondo);
		width: 100%;
		padding: 1rem 0;
		padding-left: 15px;
		gap: 1rem;
		display: none; /* oculto por defecto */
	}

	.navLinks.open {
		display: flex; /* cuando está abierto */
	}

	.navLogo {
		font-size: 1.4rem;
		font-weight: bold;
	}
}
