* {
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
	min-height: 100dvh;
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-synthesis: none; /* bloquea que el navegador artificialmente versiones en negrita o italic si no se encuentran en la fuente*/
	text-rendering: optimizeLegibility; /* El navegador prioriza la legibilidad del texto, mejora el kerning (espaciado entre letras) */
	-webkit-font-smoothing: antialiased; /* Suaviza bordes, letras más nítidas, especialmente en macOS */
	-moz-osx-font-smoothing: grayscale; /* Mejora cómo se ven las fuentes en Macs usando Firefox. */
	-webkit-text-size-adjust: 100%; /* Control total del tamaño de fuente en móviles, de lo contrario Zafari podría aumentar el tamaño si cree que es muy pequeño */
}

.mainContent {
	flex: 1;
}

.aviso {
	max-width: 30%;
	background-color: #ffbf0087;
	text-align: center;
	border-radius: 20px;
	padding: 0.5rem;
	margin: 50px auto;
	font-size: 10px;
}

@media (max-width: 768px) {
	.aviso {
		max-width: 70%;
	}
}
