* {
	box-sizing: border-box;
	transition: color 0.3s ease;
}

body {
	margin: 0px;
}

html {
	line-height: 1.5;
	font-synthesis: none; /* bloquea que el navegador artificialmente versiones en negrita o italic si no se encuentran en la fuente*/
	text-rendering: optimizeLegibility; /* El navegador prioriza la legibilidad del texto, mejora el kerning (espaciado entre letras) */
	-webkit-font-smoothing: antialiased; /* Suaviza bordes, letras más nítidas, especialmente en macOS */
	-moz-osx-font-smoothing: grayscale; /* Mejora cómo se ven las fuentes en Macs usando Firefox. */
	-webkit-text-size-adjust: 100%; /* Control total del tamaño de fuente en móviles, de lo contrario Zafari podría aumentar el tamaño si cree que es muy pequeño */
	-webkit-font-smoothing: antialiased; /* Sirve para suavizar los bordes irregulares en imágenes digitales */
}

.aviso {
	position: absolute;
	top: 250px;
	width: 100%;
	background-color: yellowgreen;
	text-align: center;
	font-size: 20px;
}

@media (max-width: 768px) {
	.aviso {
		position: absolute;
		top: 250px;
		width: 100%;
		background-color: yellowgreen;
		text-align: center;
		font-size: 11px;
	}
}

/* --themed-foreground: #2D2D2D
--themed-background: #EAE8E4; */
